{% extends 'base.html.twig' %}

{% block title %}Episode : {{ episode.title }}{% endblock %}

{% block body %}
    <section>
        <h2 href="#">Saison {{ season.number }} de {{ program.title }}</h2>
        <p>{{ program.summary }}</p>
        </div>
            <div>
                <h2 href="#">Episode N° {{ episode.number }} : {{ episode.title }}</h2>
                <p>{{ episode.summary }}</p>
            </div>
        </div>
    </section>
        <a class="mt-0" href="{{ path('wild_season', { 'id': season.id }) }}">Voir toutes les épisodes de la saison {{ season.number }}</a>
        <br />
        <a class="mt-0" href="/wild/series/the-walking-dead">Voir tous les saisons {{ program.title }}</a>
        <br />
        <a href="{{ path('wild_index') }}" class="retour">
        Voir toutes les séries
    </a>
{% endblock %}
