{% extends 'base.html.twig' %}

{% block title %}Index des acteurs{% endblock %}

{% block body %}
    <h1>Index des Acteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.name }}</td>
                <td>
                    <a href="{{ path('actor_show', {'id': actor.id}) }}">Voir</a>
                    <a href="{{ path('actor_edit', {'id': actor.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Rien a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_new') }}">Ajout nouveau</a>
{% endblock %}
